appdirs==1.4.4
asteval==0.9.26
blessed==1.19.1
cycler==0.11.0
engineering-notation==0.6.0
flyingcircus==0.1.4.0
fonttools==4.31.2
future==0.18.2
kiwisolver==1.4.0
lmfit==1.0.3
matplotlib==3.5.1
mpl-interactions==0.20.2
mpl-point-clicker==0.3.1
mplcursors==0.5.1
mpldatacursor==0.7.1
numpy==1.22.3
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
pyparsing==3.0.7
python-dateutil==2.8.2
pytk==0.0.2.1
pytz==2022.1
scipy==1.8.0
setuptools-scm==6.4.2
six==1.16.0
tenacity==8.0.1
tk-tools==0.14.0
tomli==2.0.1
uncertainties==3.1.6
wcwidth==0.2.5
